@media print {
	/* Stylesheet for pint goes here */
	body {
		background-color: #fff;
		color:#000;
		font-family:Times,sans-serif;
		font-size:12pt;
	}
	#nav a {
		text-decoration: none;
		font-size: 16pt;
	}
	#nav ul li {
		list-style-type:none; 
		font-weight: bold;
	}
	#food-show ul li{
		list-style:none;
		float:left;
	}
	#food-show img {
		width:200px;
		height:120px;
	}
	#video_table td img {
		display: none;
	}
	form .no-print {
		display: none;
	}

	#footer{
		clear:both;
	}
	#footer_01 ul, #footer_02 ul {
		list-style: none;
	}

}