
body{
	background-image: url(style/body_bg.png);
	background-repeat:repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	height: 100%
}
#container{
	width:70.25em;
	margin:auto; /*the browser calculates a margin, make it in center*/
	height:100%;
	background-color:#eeeeee;
}

/*header CSS*/
#header {
	background:url(style/header02.jpg) no-repeat top right;
	overflow:hidden;
	min-width:100%;
	height:11.5em;
	margin-bottom:-0.5em;
	padding:0;

}

#header h1 {
	width:300px;
	height:54px;
	overflow:hidden;
	float:left;
	margin-top:2em;
	margin-left:1em;
}
/*END of Header CSS*/

/* nav CSS*/
#nav {
	 background-color:#DEA756;
	 width: 100%;
	 height:3em;
	 padding:0;
	 margin:0;
}

.menu-style{
	width:6em;
	text-align: center;
	background-color: #DEA756;
	border-width:1px;
	border-style:outset;
	border-top-color: #FFFFFF;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #FFFFFF; 
}
#nav a{
	text-decoration: none;
	font-size: 1.2em;
	color:#4f4f4f;

}
#nav ul li {
		list-style-type:none; 
		float:left;
		margin:0.4em 0.625em; 
		display:block; 
		font-weight: bold;
		line-height:2em;

}
.divider{
		width:1px;
		height:2em;
		background:#999
}
/* END of nav CSS */

#content {
	clear:both;
	width:70.25em;
	margin:0 auto;
}

#slider{
	width:920px;
	height:402px;
	margin:0 auto;
	padding:0;
	
}

#content h1 {
	padding-left:1em;
}
#main-content {
	text-align:justify;
	padding:5px 10px;
	margin:8px 20px;
}
#content p strong{
	float:right;
	clear:right;
}

#food-show{
	margin-left:auto;
	margin-right: auto;
	min-height:10.625em;
}
#food-show ul li{
	list-style:none;
	float:left;
	margin-left: 0.5em;
	margin-right: auto;
	padding:0;
	background-color:#eeeeee; /*some decoration around the image. use CSS3 can have the shadow effect*/
	border:1px solid silver;
	padding:0.2em;
}

/* footer CSS */
#footer {
	width:70.25em;
	margin-left:auto;
	margin-right: auto;
	background:url(style/footer-tail.gif) repeat-x;
	height:5em;
	clear:both;
}
#footer_01 ul, #footer_02 ul{
	float:left;
	margin-top:25px;
	list-style: none;
}
#footer_01 a, #footer_02 a {
	color:#eeeeee;
}

#footer_03 {
	float:right;
	color:#eeeeee;
	margin-top:1em;
	margin-right:1em;
}
/* End of footer CSS */


/*
#container, #header, #footer,#nav,#content,h1,#slider,#food-show{
border: 1px solid #f00;}
*/
/* Showoff page CSS*/
#left_p {
	float:left;
	text-align:justify;
	width: 40%;
	padding:5px 10px;
	margin-top:8px;
	margin-left:5%;
}
#right_p {
	float:right;
	text-align:justify;
	width: 40%;
	padding:5px 10px;
	margin-top:8px;
	margin-right:5%;
}
/*CSS for table and table content*/
#video_table,th, td {
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 2em;
	text-align: center;
	clear:both;
}
.img-link{
	padding:0.5em;
}
/*End of the CSS for table*/

/* CSS for form */

#myform{
	width:70.25em;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	background-color:#eeeeee;
}

fieldset {
	display:block;
	width:60em;
	margin:0 auto;
	padding-bottom:1em;
}

fieldset option {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.1em;
}
legend {
	font-weight: bold;
	font-size: 1.2em;
	font-style: italic;
}

/*Javascript class style*/
.active {
	display:block;
	border-style:groove;
	padding:0;
	background-color: #ffffff;
}

/*about page :target seclector to show features*/

#header:target, #nav:target, #content:target, 
#footer:target, #food-show:target, #video_table:target, 
#myform:target, #slider:target, #fname:target, #email:target

 {
 	z-index: 1;
	background-color: green;
	border:3px solid red; 
}
#about-content{
	background-color:#eeeeee;
	padding:1.5em;
}
#about-content ol {
	list-style: lower-alpha;
}
/* Optional Page CSS style*/
#image-map{
	margin-top:100px;
	margin-left:30%;
	padding:2em;

}
#image-map {
		transform:rotate(20deg);
}
/* CSS for Report page*/
#report-style{
	padding:2em;
}


/*
#container, #header, #footer,#left_p, #right_p,#content,#slider, 
h1,#video_table, #myform, #nav, #content
{
border: 1px solid #f00;}
*/








